RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST_TECHNICAL=crypto-technical-analysis-indicator-apis-for-trading.p.rapidapi.com
RAPIDAPI_HOST_PRICE=real-time-crypto-price-api.p.rapidapi.com
RAPIDAPI_HOST_TRADERS=traders-hub-trading-signals5.p.rapidapi.com
RAPIDAPI_HOST_SELFTRADE=selftrade.p.rapidapi.com
RAPIDAPI_HOST_STOCKTA=stock-technical-analysis1.p.rapidapi.com
PORT=3000
