RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST_TECHNICAL=crypto-technical-analysis-indicator-apis-for-trading.p.rapidapi.com
RAPIDAPI_HOST_PRICE=real-time-crypto-price-api.p.rapidapi.com
RAPIDAPI_HOST_TRADERS=traders-hub-trading-signals5.p.rapidapi.com
RAPIDAPI_HOST_SELFTRADE=selftrade.p.rapidapi.com
RAPIDAPI_HOST_STOCKTA=stock-technical-analysis1.p.rapidapi.com
RAPIDAPI_HOST_TVDATA=tradingview-data1.p.rapidapi.com
RAPIDAPI_HOST_FUTURES=real-time-future-price-api.p.rapidapi.com
RAPIDAPI_HOST_FXTREND=trend-and-strength-api-for-forex-gold-xauusd.p.rapidapi.com
RAPIDAPI_HOST_QUANTSIG=quantsignalpro.p.rapidapi.com
RAPIDAPI_HOST_DATANEST=stock-market-by-datanest.p.rapidapi.com
RAPIDAPI_HOST_QUICKSILVER=quicksilver-trading-signals-api1.p.rapidapi.com
RAPIDAPI_HOST_RTMARKET=real-time-crypto-stock-market-api-prices-trends.p.rapidapi.com
PORT=3000
